.App {
  text-align: center;
}

.button-inline{
  display: inline;
}
.add-btn{
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
.remove-btn{
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
span{
  border: 1px solid black;
  display: inline-block;
  /* width: 30px;
  height: 30px; */
  padding: 2px 2px;
  margin-left: 2px;
  font-weight: bold;
}
span:nth-child(even){
  background-color: black;
  color: white;
}
span:nth-child(odd){
  background-color: blue;
  color: white;
}
span:nth-child(5n){
  border-top: 5px solid orange;
}
.boxes{
  margin-top: 15px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
