/* I have used system fonts as I'm not aware of font applied in the video */
/* css applied are as of my understanding from the video */
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.container {
  text-align: center;
}

.button-inline{
  display: inline;
}
.add-btn{
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
.remove-btn{
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}
span{
  border: 1px solid black;
  display: inline-block;
  padding: 2px 2px;
  margin-left: 2px;
  font-weight: bold;
}
span:nth-child(even){
  background-color: black;
  color: white;
}
span:nth-child(odd){
  background-color: blue;
  color: white;
}
span:nth-child(5n){
  border-top: 5px solid orange;
}
.boxes{
  margin-top: 15px;
}
h1{
  margin-bottom: 10px;
}
h4{
  margin-top: 5px;
  margin-bottom: 5px; 
}